* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    background: #fffdf5;
}


/* navbar */

.nav-img {
    width: 308px;
}

.thumbs {
    background-color: #e7332b!important;
    border-radius: 100px!important;
    margin-left: -50px!important;
    padding: 10px!important;
    position: absolute!important;
    width: 67px!important;
    z-index: 99;
}

ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    color: #585757!important;
    font-size: 18px!important;
    font-style: normal!important;
    font-weight: 400!important;
    white-space: nowrap;
}

nav {
    display: flex;
    align-items: center;
    padding-inline: 4%;
    padding-top: 2%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}

.navImg {
    width: 589px;
}

.nav-btn {
    display: flex;
    align-items: center;
    position: relative;
    left: 9%;
}

a {
    text-decoration: none;
    color: #000;
}

.btn-enroll {
    background: #e7332b!important;
    border-radius: 71px!important;
    box-shadow: none!important;
    color: #fff!important;
    padding: 10px 32px;
    text-transform: none!important;
    border: none;
    white-space: nowrap;
    position: relative;
    right: 4%;
    z-index: 0;
    width: 180px;
}

.stacks {
    transform: translate(-22px, 0px);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

@media (max-width: 860px) {
    .hamburger {
        display: block;
        padding: 20px;
        transform: translateX(46%);
    }
    .hamburger.active .bar:nth-child(3) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translate(-1px) rotate(44deg);
        position: relative;
        top: -4px;
    }
    .hamburger.active .bar:nth-child(2) {
        transform: translate(-2px) rotate(-45deg);
        position: relative;
        bottom: 11px;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #ECBA84;
        width: 100%;
        transition: 0.7s;
    }
    .active {
        left: 0%;
    }
    .stacks {
        transform: translate(0, 0);
    }
    .nav-menu a {
        margin-block: 5%;
    }
    .btn-enroll {
        right: 2% !important;
    }
    .nav-btn {
        left: 6% !important;
    }
    .nav-img {
        width: 140px;
    }
}


/* section1 */

.lady1 {
    width: 340px;
}

.male1 {
    width: 300px;
}

.and-now {
    color: #e7332b;
    font-size: 18px!important;
    font-style: normal;
}

.Gain {
    font-size: 49px;
    letter-spacing: 2px;
    line-height: 55px;
}

.basic {
    color: #1b1a20!important;
    font-size: 18px;
}

.lady-div {
    width: 30%;
}

.context-div {
    width: 40%;
    display: grid;
    gap: 6%;
}

.male-div {
    width: 20%;
}

.btn-1 {
    width: 154px;
    justify-self: center;
    border-radius: 24px;
    border: none;
    padding-block: 2%;
    background: #e7332b!important;
    color: #fff;
}

.sec1-flex {
    display: flex;
    padding-top: 8%;
    align-items: center;
}

.L-m {
    padding-top: 24%;
}